%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invite, class: 'invite' do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :name, label: "Friend's Name"
          = f.email_field :email, label: "Friend's Email Address"
          = f.text_area :message, value: 'Please join this really cool site!', rows: 6, label: "Invitation Message"
        %fieldset.form-group.action
          = f.submit 'Send Invitation', class: 'btn btn-default'
